version: "3.8"
services:
  visits:
    container_name: multiqc_api_visits
    restart: always
    build: .
    command: uvicorn app.app_visits:app ${UVICORN_RELOAD} --host 0.0.0.0
    volumes:
      - .:/code
    ports:
      - "8008:8000"
    environment:
      # Set in .env
      GITHUB_TOKEN: $GITHUB_TOKEN
      # Matches the "db" service below
      DATABASE_URL: mysql+pymysql://root:1@db:3306/multiqc
    depends_on:
      wait-for-db:
        condition: service_completed_successfully
  downloads:
    container_name: multiqc_api_downloads
    restart: always
    build: .
    command: uvicorn app.app_downloads:app ${UVICORN_RELOAD} --host 0.0.0.0
    volumes:
      - .:/code
    ports:
      - "8008:8000"
    environment:
      # Set in .env
      GITHUB_TOKEN: $GITHUB_TOKEN
      # Matches the "db" service below
      DATABASE_URL: mysql+pymysql://root:1@db:3306/multiqc
    depends_on:
      wait-for-db:
        condition: service_completed_successfully
  runs:
    container_name: multiqc_api_runs
    restart: always
    build: .
    command: uvicorn app.app_runs:app ${UVICORN_RELOAD} --host 0.0.0.0
    volumes:
      - .:/code
    ports:
      - "8008:8000"
    environment:
      # Set in .env
      GITHUB_TOKEN: $GITHUB_TOKEN
      # Matches the "db" service below
      DATABASE_URL: mysql+pymysql://root:1@db:3306/multiqc
    depends_on:
      wait-for-db:
        condition: service_completed_successfully
  db:
    image: mysql:8.0
    container_name: multiqc_db
    restart: always
    volumes:
      - ./.mysql-data/db:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: mysql+pymysql
      MYSQL_USER: root
      MYSQL_PASSWORD: 1
  wait-for-db:
    container_name: wait_for_db
    image: atkrad/wait4x
    depends_on:
      - db
    command: tcp db:3306 -t 30s -i 250ms
